.Contador input {
    font-size: 1.2rem;
    width: 60px;
}

.Contador button {
    margin: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #0d3024;
    color: white;
    font-size: 30px;
}

.contador h2 {
    margin: 16px;
}