.Card {
    border: 3px solid;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-width: 500px;
    max-width: 500px;
    width: 500px;
}

.Card .Title {
    padding:  5px 0px;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.Card .Content {
    flex-grow: 1;
    background-color:  white;
    color: black;
    padding: 10px;
}